DoreGame/Library/
YoGame/Library/
[Ee]xported[Oo]bj/
.vs/
*.userprefs
*.csproj
*.pidb
*.pidb.meta
*.suo
*.sln*
*.user
*.unityproj
*.booproj
.consulo/
*.tmp
*.svd
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*
Extra/